@{ ViewData["Title"] = "NotFound"; }

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="~/css/Branch/Branches.css" />

<div class="section">
    <div class="container branch_page_container">
        <div class="section-title">
            <div class='delete_form_container'>
                <h2>Could not find branch</h2>
                <a asp-action="Index">Back to full list</a>
            </div>
        </div>
    </div>
</div>