<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MobileStore - @ViewData["Title"] </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon2.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">


</head>


<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/img/logo/Color logo with background.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                        <img src="/img/icon/Israel.jpg" alt="" style="
                                                                               width: 25px;
                                         ">
                                    </div>
                                    <div style="
                                         color: white;
                                         position: absolute;
                                         left: 32px;
                                         top: 9px;
                                         ">Israel</div>
                                    <ul class="contact-now">
                                        <li style="position: absolute;left: 79px;top: 11px;">+972 50 661 0230</li>
                                    </ul>
                                    <ul class="contact-now"
                                        style="
                                        position: absolute;
                                        left: 178px;
                                        top: -15px;">
                                        <li class="fb-share-button"
                                            data-href="https://www.MobileStore.co.il/"
                                            data-layout="button_count"
                                            style="padding-top: 15px;">
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        @{if (User?.Identity != null && User.Identity.IsAuthenticated)
                                            {
                                <li>

                                    <a asp-action="Details" asp-controller="Users">My account</a>
                                </li>
                                                <li><a asp-action="Cart" asp-controller="Products">Cart</a></li>

                                                                @if (User.Identity.IsAuthenticated && User.Claims.ElementAt(3).Value == "Admin")
                                                                {
                                                <li><a asp-action="Index" asp-controller="Statistics">Statistics</a></li>}
                                                                                <li>
                                                                                    @{ if (User.Identity.IsAuthenticated && User.Claims.ElementAt(3).Value == "Admin")
                                                                                        {

                                                                        <a asp-action="Sales" asp-controller="Products">Sales measures</a> } }
                                                                                </li> } }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-5 col-md-1 col-sm-3">
                                <div class="logo">
                                    <a asp-action="Index" asp-controller="Products"><img src="~/img/logo/Color logo with background.png" alt="" style="width:280px;"></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-action="Index" asp-controller="Products">Home</a></li>
                                            <li><a asp-controller="Branches" asp-action="Index">Branches</a></li>




                                            <li>
                                                <a href="#">Categories</a>
                                                <ul class="submenu">
                                                    <li><a asp-action="Index" asp-controller="Phones">Phones</a></li>
                                                    <li><a asp-action="Index" asp-controller="Pcs">PC's</a></li>
                                                    <li><a asp-action="Index" asp-controller="Screens">Screens</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <form asp-action="Search" asp-controller="Products">
                                                <input type="text" name="Name" placeholder="Search products">
                                                <div class="search-icon">
                                                    <i class="fas fa-search special-tag"></i>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    @if (User?.Identity != null && User.Identity.IsAuthenticated)
                                    {
                        <li class="d-none d-lg-block"> <a href="/Users/Logout" class="btn header-btn">Log out</a></li>
 }
                    else
                    {
        <li class="d-none d-lg-block"> <a href="/Users/Register" class="btn header-btn">Register</a></li>
                        <li class="d-none d-lg-block"> <a href="/Users/Login" class="btn header-btn">Sign in</a></li>
}
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        @RenderBody();


    </main>
    <footer>

        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a asp-action="Index" asp-controller="Products"><img src="~/img/logo/Color logo with background.png" alt="" style="width:290px;" ;></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>MobileStore Market is the place for you to buy the best electronic devices in a cheap price!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Products</h4>
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Phones">Phones</a></li>
                                    <li><a asp-action="Index" asp-controller="Pcs">PC's</a></li>
                                    <li><a asp-action="Index" asp-controller="Screens">Screens</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->

    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Facebook-->
    <script src="~/js/Facebook.js"></script>



    @RenderSection("Scripts", required: false)

</body>
</html>