@model MobileStore.Models.Orders

@{ ViewData["Title"] = "Create"; }



<!--<div class="container">


    <section class="cart_area section_padding">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope>
                                Product
                            </th>
                            <th scope>
                                Quantity
                            </th>
                            <th scope>
                                Price
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                        </tr>
                    </thead>





                    <tbody>
                            <tr>-->
@*<td>
        <div class="media">
            <div class="d-flex">
                <img src="~/img/arrivel/arrivel_2.png" alt="" />
            </div>
            <div class="media-body">
                <p>Minimalistic shop for multipurpose use</p>
            </div>
        </div>
    </td>*@
<!--<td>
    <div class="media">
        <div class="d-flex">

        </div>
        <div class="media-body">

        </div>
    </div>
</td>
<td>
    <h5> Html.DisplayFor(modelItem => item.Quantity)</h5>
</td>
<td>-->
@*<div class="product_count">
             <span class="input-number-decrement"> <i class="ti-minus"></i></span>
               <input class="input-number" type="text" value="1" min="0" max="10">
               <span class="input-number-increment"> <i class="ti-plus"></i></span>
    </div>*@
@*@Html.DisplayFor(modelItem => item.Product.Price)*@
<!--</td>
<td>
    <h5>-->
@*@Html.DisplayFor(modelItem => item.Product.Price)*@
<!--</h5>
        </td>
    </tr>
}
<tr class="bottom_button">
    <td>
        <a class="btn_1" href="#">Update Cart</a>
    </td>
    <td></td>
    <td></td>
    <td>
        <div class="cupon_text float-right">
            <a class="btn_1" href="#">Close Coupon</a>
        </div>
    </td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td>
        <h5>Subtotal</h5>
    </td>
    <td>
        <h5>$2160.00</h5>
    </td>
</tr>
<tr class="shipping_area">
    <td></td>
    <td></td>
    <td>
        <h5>Shipping</h5>
    </td>
    <td>
        <div class="shipping_box">
            <ul class="list">
                <li>
                    Flat Rate: $5.00
                    <input type="radio" aria-label="Radio button for following text input">
                </li>
                <li>
                    Free Shipping
                    <input type="radio" aria-label="Radio button for following text input">
                </li>
                <li>
                    Flat Rate: $10.00
                    <input type="radio" aria-label="Radio button for following text input">
                </li>
                <li class="active">
                    Local Delivery: $2.00
                    <input type="radio" aria-label="Radio button for following text input">
                </li>
            </ul>
            <h6>
                Calculate Shipping
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </h6>
            <select class="shipping_select">
                <option value="1">Bangladesh</option>
                <option value="2">India</option>
                <option value="4">Pakistan</option>
            </select>
            <select class="shipping_select section_bg">
                <option value="1">Select a State</option>
                <option value="2">Select a State</option>
                <option value="4">Select a State</option>
            </select>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />-->
@*<span asp-validation-for="Postcode" class="text-danger"></span>*@
<!--</div>
                                <a class="btn_1" href="#">Update Details</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="#">Continue Shopping</a>
                <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
            </div>
        </div>
    </div>
</section>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>-->
@*@Html.DisplayNameFor(model => model.Products.Name)*@
<!--</th>
<th>
    Html.DisplayNameFor(model => model.Quantity)
</th>
<th>-->
@*@Html.DisplayNameFor(model => model.Products.Price)*@
<!--</th>
                <th>
                    Total Price
                </th>
                <th></th>
            </tr>
        </thead>

    </table>
</div>-->



<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <div>
                    <div class="form-group">
                        <label for="ProductId" class="control-label"> </label>
                        <select name="ProductId" class="form-control" asp-items="ViewBag.ProductId" multiple></select>
                    </div>
                </div>



                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<h1>Create</h1>

    <h4>Orders</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="ProductId" class="control-label" size="7"> </label>
                    <select name="ProductId" class="form-control" asp-items="ViewBag.ProductId" multiple></select>
                </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label asp-for="TotalPrice" class="control-label"></label>
                        <input asp-for="TotalPrice" class="form-control" />
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
    </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
